:root{
    --color1: rgb(255, 255, 255);
    --color2: rgb(150, 88, 88);
    --color3: rgb(145, 91, 91);
    --color4: rgba(0, 0, 0, 0.055);
    --color5: rgba(0, 0, 0, 0.432);
    --colorfondo1: rgb(209, 153, 164);
    --colorfondo2: rgb(196, 149, 149);
}
body{
    font-size: 16px;
    font-family: 'Lato', sans-serif; /* Agregar la fuente deseada */
    background-color: var(--color2);
}
h2{
    font-size:  30px;
}
*,*:before, *:after{
    box-sizing: inherit;
}
h3{
    font-size: 15px;
    text-align: center;
    color: white;
}


.logo{
    height: 55.0725px; 
    width: 280.8075px;
    margin-left: 2rem;
}
.logo2, .logo{
    margin-top: 1rem;
}
.fotingo{ 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
}

@media (min-width: 50px){   /* este modifica iphonex */
    .fotingo{
        margin-left: 2rem;
    }
    .logo{
        display: none;
    }
    .logo2{
        grid-column: 1 / 2;
        display: inline;
        width: 100%;
    }
    .icon {
        display: inline;
    }
}
@media (min-width: 413px){    /* este modifica iPhone7 y iPad */
    .fotingo{
        margin-left: .5rem;
    }
    .logo{
        display: none;
    }
    .logo2{
        grid-column: 1 / 2;
        display: inline;
        width: 100%;
    }
    .icon {
        display: inline;
    }
}
@media (min-width: 768px){/* este modifica la pantalla de una laptop */
    .logo{
        margin-left: 3rem;
        margin-top: 1rem;
        height: 116.5px; 
        width: 594.93px;
        display: inline;
    }
    .logo2{
        display: none;
    }
    .icon {
        display: none;
    }
}

.menu_icn{
    display: flex;
    justify-content: right;
    margin-top: 25%;
    margin-right: 2rem;
}
.menu_icn a svg:hover{
    background-color: rgba(145, 91, 91, 0.5);
}



/* Barra de navegacion */

.nav1{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    text-align: center;
}
.nav1 a{
    text-decoration: none; /* quita la linea de abajo del boton */
    color: var(--color1);
    padding: 1.1rem;
    font-size: 18px;
}

@media (min-width: 768px){

    .nav1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .nav1 a:hover{
       border-radius: 10%;
    }

}
.navegador{
    background-color: var(--colorfondo2); /* agrega el color a la barra de navegacion */
}
.nav1 a:hover {    /* esto es para agregarle el efecto al pasar el mouse sobre el boton */
    transition: 400ms;
    background-color:rgba(145, 91, 91, 0.5);
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}
.contenedor{
    max-width: 100rem;
    margin: 0 auto;
    /* text-align: center; */
}




/* Barra de navegacion de blogs */
.nav2-img{/* tamaño y redondeo de las imagenes del navegador inf */
    /* height: 130px;
    width: 130px; */

    border-radius: 50%;
}
.nav2-img:hover{/* esto es para que al pasar el mouse por encima de las fotos, tenga el efecto de agrandarse */
    transition: 400ms;
    transform: scale(1.10);
}
.item{
    margin-top: .5rem;
}
.cont{
    padding: 1rem;
}
.owl-nav button{
    display: none;
}


/* Contenido */
.art p{/* aqui agregamos las espicificación de texto justificado */
    color: var(--color1);
    font-size: 25px;
    text-align: justify;
}
.art{
    margin-top: 0.5rem;
}
.psup{/* aqui agrego las configuraciones de distribución de parte superior */
    display: flex;
    flex-direction: column;
}
.imagenes1{
    height: 155px;
    width: 350px;
    align-items: center;
    
}
.imagenes2{/* aqui agrego el tamaño deseado para las imagenes */
    height: 180px;
    width: 350px;
    margin-bottom: 5rem;
}
.im1{
    text-align: center;
}
.im2{
    text-align: center;
}
@media (min-width: 600px){
    .imagenes2{/* aqui agrego el tamaño deseado para las imagenes */
        height: 350px;
        width: 680px;
    }
     
}

@media (min-width: 700px ){
    .imagenes1{
        height: 352.42px;
        width: 680px;
    }
}

@media (max-width: 768px){
    .img1{
        align-self: center;
    }
    .art p{
        padding: 2rem;
        margin-top: 0rem;
    }
    
     
}
@media (min-width: 769px){
    .art{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .psup{/* aqui agrego las configuraciones de distribución de parte superior */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .prf1{/* este es el parrafo 1, donde agrego las separaciones para los lados */
        margin-right: 3rem;
        margin-top: 0rem;
    }
    .prf2{/* aqui se agrega la separación para el segundo parrafo */
        margin-top: 3rem;
    }
    .imagenes1{
        height: 370px;
        width: 730px;
    }
    .imagenes2{/* aqui agrego el tamaño deseado para las imagenes */
        height: 350px;
        width: 550px;
    }
    .img2{/* aqui hago la separacion de las fotos distribuyendolas en el espacio */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .art{
        margin-top: 1rem;
    }
     
}

h5{/* area de los derechos reservados */
    color: var(--color1);
    font-size: 15px;
    text-align: center;
    font-weight: 300;
}


