:root{
    --color1: rgb(255, 255, 255);
    --color2: rgb(150, 88, 88);
    --color3: rgb(145, 91, 91);
    --color4: rgba(0, 0, 0, 0.055);
    --colorfondo1: rgb(209, 153, 164);
    --colorfondo2: rgb(196, 149, 149);
}
.final img{
    width: 18%;
}
@media (min-width: 950px){
    .final img{
        width: 8%;
    }
}
.final{
    background-color: var(--color2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    overflow: hidden;
}